.menuBar{
    width: 25%;
    background-color:#104466;
    border-radius: 27px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 5%;
    top: 12%;
    align-items: center;
    padding: 1rem;
    border: 1px solid white;
    transform: 0.3s;
}

.menuItem{
    color : #FFFFFF;
    width: 33%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none !important;
}

.menuIcon{
    font-size: 32px;
}

.menuTitle{
    font-size: 16px;
    
}